.style{
	margin-left:40%;
	margin-top:15%;
	background-color:grey; 
	margin-right:500px;
}
#button{
	margin-left:100px;
}
#dmy{
	margin-left:20px; 
}
#head{
	background-color: blue;
}
body{
	background-image:url('bgimg2.jpg');
}